/*style.css*/
.marge-externe{
	background-color : #E66465;
    padding: 20px;
}

.bordure{
    background-color: #6597E6;
    padding: 10px;
}

.marge-interne{
	background-color : #E67A00;
    padding: 25px;
}

.contenu{
	background-color : #EAC099;
    padding: 25px;
}
